/* By Uk */
@import 'mixin';
@import 'fonts';
@import 'colors';
// @import 'colors2';

html{
    scroll-behavior:smooth;
    background: linear-gradient(to bottom, #16161E, #192A3E);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    // font-family: Recoleta;
    font-family: axiforma-Light;
    background: linear-gradient(to bottom, #16161E, #192A3E);
}

body::-webkit-scrollbar {
    width: 5px;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px hsl(240, 15%, 30%);
}
body::-webkit-scrollbar-thumb {
    background-color: hsl(175, 97%, 40%);
    // outline: 1px solid slategrey;
    border-radius: 6px;
}

header{
    width: 100%;
    position: fixed;
    z-index: 999;
    padding: 0;
    margin: 0;
    transition: all 300ms linear;
    // background-color: #fff;
    .navbar{
        font-weight: 100;
        padding: 2% 11%;
        height: auto;
        top: 1%;
        transition: all 300ms linear;
        @include xsm{
            padding: 3% 2.5%;
            top: 0;
        }
        @include sm{
            padding: 3% 2.5%;
            top: 0;
        }
        @include md{
            padding: 3% 2.5%;
            top: 0;
        }
        &.blackto{
            // background-color: $body;
            background: $body;
            box-shadow: 0px 2px 10px rgba(12, 12, 12, 0.145);
            padding: 1% 11%;
            // position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1030; 
            @include xsm{
                padding: 3% 2.5%;
                top: 0;
            }
            @include sm{
                padding: 3% 2.5%;
                top: 0;
            }
            @include md{
                padding: 3% 2.5%;
                top: 0;
            }
        }
        .navbar-toggler{
            outline: none;
            color: $txt_white;
        }
        .navbar-brand{
            padding: 0;
            font-size: initial;
            .logo-media{
                display: flex;
                align-items: center;
                .logo-circle{
                    background-color: $main;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin-right: 7px;
                }
                .logo-name{
                    margin: 0;
                    font-size: 14px;
                    color: $txt_white;
                    font-family: axiforma-Heavy;
                    letter-spacing: 4px;
                }
            }
        }
        .custom-navbar-nav{
            position: relative;
            .nav-item{
                .nav-link{
                    padding: 0.5rem 1.5rem;
                    color: $txt_white; 
                    font-size: 14px;  
                    font-family: OpenSans-SemiBold;
                    &:hover{
                        columns: #000000;;
                    }
                    @include xsm{
                        padding: .5rem .5rem;
                    }             
                }
            }
        }
    }
    .menu-right{
        list-style: none;
        display: flex;
        align-items: center;
        margin: 0;
        flex-wrap: wrap;
        .menu-right-item{
            margin-right: 10px;
            &:nth-last-child(1){
                margin-right: 0;
            }
            .menu-right-link{
                padding: 0.2rem 1.5rem;
                color: $txt_white; 
                font-size: 11px;  
                font-family: OpenSans-SemiBold;
                border-radius: 10px;
                border: 1px solid $border;                
                height: 30px;
                display: inline-block;
                transition: all 400ms ease;
                display: flex;
                align-items: center;
                margin: 2px 0px;
                &:hover{
                    border-color: transparent;
                    text-decoration: none;
                    background-color: hsl(175, 97%, 40%);
                    color: #000000;
                }
            }
        }
    }
}


// ===========================HOME
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    overflow-x: hidden;
    @include xsm{
        height: auto;
        overflow: hidden;
    }
    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 0%;
        background-color: hsl(175, 97%, 20%);
        animation: open 400ms linear;
        z-index: 999999;
    }
    .home-content{
        // background-color: #fff;
        position: relative;
        width: 100%;
        padding: 3% 3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        perspective: 1000px;
        position: relative;
        top: 10%;
        perspective: 500px;
        @include xsm{
            top: 0;
        }
        .home-title{
            font-size: 90px;
            font-family: axiforma-Heavy;
            letter-spacing: 20px;
            color: $txt_white;
            // text-shadow: 0px 7px 0px #04fbe8b5;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 40px;
            line-height: 1;
            transform-style: preserve-3d;
            animation: deeep-in 400ms 200ms cubic-bezier(0.87, 0.7, 0.9, 0.9) backwards;
            @include xsm{
                font-size: 40px;
                margin-top: 40%;
            }
            .home-title-ltr{
                color: $text_main;
                // text-shadow: 0px 7px 0px #04fbe8b5;
                // background-color: #fff;
                display: inline-block;
                position: relative;
                transform-style: preserve-3d;
                &::before{
                    content: "";
                    position: absolute;
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    // background-color: #fff;
                    top: -23%;
                    left: -39%;
                    background-color: transparent;
                    // transform: translate(-50%, -50%);
                    box-shadow: 0px 0px 15px 1px #04fbe8b5;
                    border: 4px outset #04fbe8b5;
                    // transform-origin: center;
                    animation: rotate 5s linear infinite;
                    @include xsm{
                        width: 70px;
                        height: 70px;
                        top: -44%;
                        left: -55%;
                    }
                }
            }
        }
        .home-subtitle{
            font-size: 40px;
            color: $txt_white;
            text-align: center;
            font-family: OpenSans-Semibold;
            // font-family: axiforma-Light;
            letter-spacing: 1px;
            margin-bottom: 30px;
            transform-style: preserve-3d;
            animation: opacity 900ms 800ms linear backwards;
            @include xsm{
                font-size: 25px;
            }
            span{
                color: $text_main;
            }
        }
        .home-info{
            color: $txt_grey;
            text-align: center;
            margin-bottom: 30px;
            font-size: 16px;
            font-family: OpenSans-Regular;
            line-height: 1.7;
            transform-style: preserve-3d;
            animation: opacity 900ms 1.3s linear backwards;
            @include xsm{
                font-size: 12px;
            }
        }
        .home-list{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            animation: opacity 900ms 1.9s linear backwards;
            .home-list-item{
                margin-right: 20px;
                margin-bottom: 2px;
                &:nth-last-child(1){
                    margin-right: 0;
                }
                .home-list-link{
                    color: $txt_yellow;
                    font-size: 14px;
                    text-transform: uppercase;
                    @include xsm{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.line{
    width: 200px;
    height: 50px;
    background-color: hsla(175, 97%, 50%, 0.10);
    position: absolute;
    // box-shadow: 0px 0px 15px 1px #04fbe8b5;
    transform-style: preserve-3d;
    transform: 
        translate(-360%, 400%)
        skew(-20deg) 
        rotate(-25deg);
    animation: diagonal 6s linear infinite forwards;
    @include xsm{
        animation: none;
    }
}

@keyframes open {
    0%{
        opacity: 0;
        height: 100%;
    }
    100%{
        opacity: 1;
        height: 0;
    }
}

@keyframes diagonal {
    0%{
        background-color: hsla(175, 97%, 50%, 0.40);
        transform: 
            translate(-360%, 400%)
            skew(-20deg) 
            rotate(-25deg);
    }
    100%{
        transform: 
            translate(480%, -300%)
            skew(-20deg) 
            rotate(-25deg);
    }
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes deeep-in {
    0%{
        opacity: 0;
        transform: rotateX(84deg) translateY(0px);
    }
    20%{
        opacity: 0.2;
        transform: rotateX(84deg) translateY(-80px);
    }
    60%{
        opacity: 0.5;
        transform: rotateX(84deg) translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: rotateX(0deg) translateY(0px);
    }
}


@keyframes opacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}




.explore-card{
    position: relative;
    perspective: 1000px;
    @include xsm{
        // margin: 0 auto;
        width: 100%;
    }
    @include sm{
        // margin: 0 auto;
        width: 100%;
    }
    .explore-box{
        width: 100%;
        height: 100%;
        position: relative;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        // background-color: #272A33;
        padding: 7% 1%;
        .explore-title{
            font-family: OpenSans-Bold;
            font-size: 18px;
            color: $text_main;
            margin-bottom: 18px;
        }
        .explore-list{
            list-style: none;
            margin: 3% 0%;
            padding-left: 0px;
            li{
                font-family: OpenSans-Regular;
                font-size: 12px;
                color: $txt_grey;
                // padding-bottom: 10px;
                position: relative;
                margin-bottom: 7px;
            }
        }
    }
}

// ===================================FOOTER
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 2% 0% 4% 0%;
    hr{
        border-top-color: #D8DEFA;
    }
    .copyright{
        color: $txt_grey;
        font-size: 14px;
    }
    .social-media{
        // width: 140px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include xsm{
            justify-content: flex-start;
        }
        li{
            margin-right: 15px;
            &:nth-last-child(1){
                margin-right: 0;
            }
        }
        
        .social-list{
            color: $txt_grey;
            width: 37px;
            height: 37px;
            background-color: #ffffff;
            border-radius: 50px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 2px 8px rgba(59, 59, 59, 0.12);
            @include xsm{
                width: 34px;
                height: 34px;
            }
        }
        .social-links{
            color: $txt_grey;
            font-family: OpenSans-Bold;
            font-size: 12px;
            display: block;
            text-decoration: none;
        }
    }
}

